.block{
    width: 800px;
    height: 100px;
    border: 1px solid black;
    color: black;
    display: flex;
    margin-top: 10px;
}
.block img{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.block .btn{
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    color: white;
    width: 70px;
    height: 40px;
    margin-top: 50px;
    margin-left: 10px;
    border: none;
}